.wrapper {
    background: #000000;
    min-height: 100vh;
    max-height: 100%;

    h1 {
        color: white;
        font: bold;
    }
    .badge-font {
        font-size: 18px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .badge-font {
        font-size: 12px !important;
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .badge-font {
        font-size: 14px !important;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .badge-font {
        font-size: 16px !important;
    }
}